<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.maliburumdrinks.com/globalassets/images/cocktail-recipe-images/malibu-island-cosmo.png/CocktailHero" width="30" height="30" class="d-inline-block align-top" alt="">
    Bartendr
  </a>
</nav>



<div class="container mt-5">
  <table class="table mt-5 infos-list">
    <thead class="thead-dark">
      <tr>
        <th>Cocktails</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><%= link_to cocktail.name, cocktail_path(cocktail) %>
            <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Delete #{cocktail}?" } do %>
         <i class="fas fa-trash"></i>
         <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary'%>
</div>
